<div id="topbar-grid" class="pure-grid">
	<span id="navigation-menu-unit" class="pure-u-1-5">
[% PROCESS navigation_menu.tt %]
	</span>
	<span id="account-info-unit" class="pure-u-4-5">
[% PROCESS account_info.tt %]
	</span>
</div>[% RETURN %]