{{!--document/view.hbs--}}
<div id="document-view">
	<h2 id="document-view-title">{{& title}}</h2>
	<h4 id="document-view-id">{{& id}}</h4>
	<h3 id="document-view-creator">{{& creator}}</h3>
	<p id="document-view-body">
		{{body}}
	</p>
</div>